@import "hotdeal";

#main {
  padding: 2rem 0;
  border-top: 2px solid $color1;
  border-bottom: 2px solid $color1;

  img {
    object-fit: cover;
    width: 100%;
  }
}

.section {
  &-head {
    @include flex(row, null, space-between);
    padding: 0 1rem;

    * {
      display: block;
      color: $color3;
    }

    &-title {
      width: 50%;
      
      position: relative;
      text-transform: uppercase;
      font-size: $font-size * 2;

      &::after {
        position: absolute;
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: $color1;
        top: 100%;
      }
    }

    &-more {
      width: 50%;
      text-align: end;
      margin-top: 10px;

      &:hover {
        color: $color1;
      }
    }
  }
}