#header {
  background: url(../res/img/banner.jpg) no-repeat center/ cover;
  height: 80vh;
}

.banner {
  overflow: hidden;
  position: relative;
  height: 80vh;
  background-color: $color2-blur;
}

.banner-slogan {
  @include abCenter(40%, 50%);
  width: 100%;
  text-align: center;
  color: $color3;

  &-txt {
    font-weight: 900;
    font-size: $font-size * 3;

    &.smaller {
      font-weight: 300;
      font-size: $font-size * 2;

      .ani {
        animation: 1s blink step-end infinite;
      }
    }
  }

  @include breakpoint(tablet) {
    &-txt {
      font-size: $font-size * 2;
  
      &.smaller {
        font-size: $font-size * 1.3;
      }
    }
  }

  @include breakpoint(small) {
    &-txt {
      font-size: $font-size * 1.5;
  
      &.smaller {
        font-size: $font-size;
      }
    }
  }
}