@keyframes appear {
  0% {
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes updownCaret {
  0% {
    opacity: .5;
    top: 93%;
  }
  100% {
    opacity: 1;
    top: 95%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes appearBottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: inherit;
  }
}

// @keyframes changeColor {
//   0% {
//     background-color: $color1;
    
//   }

//   50% {
//     background-color: $color2;
//   }

//   100% {
//     background-color: $color1;
//   }
// }