[delay-bottom] {
  opacity: 0;
}

// .loading {
//   @include abCenter(50%, 50%);
//   margin: -50px 0 0 -50px;
//   padding: 50px;
//   border-radius: 100%;

//   border-top: 8px solid $white-color;
//   border-right: 8px solid $black-color;
//   border-bottom: 8px solid $yellow-color;
//   border-left: 8px solid $red-color;
//   animation: spin 2s linear infinite;
//   overflow: hidden;
//   z-index: 9999999;

//   & * {
//     display: none;
//   }
// }

html {
  scroll-behavior: smooth;
}

body {
  font-family: $font;
  overflow-x: hidden;
  font-size: $font-size;
  line-height: 1.4;
  color: $color2-blur;
  background-color: $color2;

  &::-webkit-scrollbar-thumb {
    background-color: $color1-blur;
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-track {
    background-color: $color3;
  }

  &::-webkit-scrollbar {
    scrollbar-width: thin;
  }
}

ul {
  margin-bottom: 0;
}

h4 {
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
}

input {
  // border: 0;

  &:focus {
    outline: 0;
  }
}

.wrap {
  max-width: 1200px;
  margin: 0 auto;

  @include breakpoint(tablet) {
    max-width: 100%;
  }
}

section {
  padding: 30px 0;
}

.section-title {
  text-align: center;
  font-size: $font-size * 1.8;
  color: $color3;
  padding: 5px;
  margin-bottom: 1rem;
  margin-top: 20px;
  position: relative;
  z-index: 1;

  &::before,
  &::after {
    @include abCenter(50%, 50%);
    content: "";
    width: 300px;
    height: 80%;
    background-color: $color1;
    // opacity: .7;
    z-index: -1;
  }

  &::after {
    top: 100%;
    height: 1px;
  }

  @include breakpoint(tablet) {
    font-size: $font-size * 1.3;

    &::before,
    &::after {
      width: 250px;
    }
  }
}