@font-face {
  font-family: 'VNI-Cooper';
  src: url('../res/font/VNI-Cooper-Heavy.eot');
  src: url('../res/font/VNI-Cooper-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../res/font/VNI-Cooper-Heavy.woff2') format('woff2'),
      url('../res/font/VNI-Cooper-Heavy.woff') format('woff'),
      url('../res/font/VNI-Cooper-Heavy.ttf') format('truetype'),
      url('../res/font/VNI-Cooper-Heavy.svg#VNI-Cooper-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
}
