// color =============================
$color1: #bb3232;         //text color
$color1-blur: #bb3232ce;  //hover color
$color2: #2a2a2a;         // background
$color2-blur: #2a2a2a98;  
$color3: #fff;            //alt color
$color3-blur: #ffffff86;
$bg-color: #34495e;
// size ==============================
$font-size: 15px;
$default-size: 1em;
$label-font-size: $default-size / 4;
$label-font-size-redo: $default-size * 4;
// font ==============================
$font:  Arial, Helvetica, sans-serif;
$font-logo: 'VNI-Cooper';
