.modal {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: all .5s linear;
  background-color: $color2-blur2;
  z-index: 100000;

  &.hide {
    visibility: hidden;
    opacity: 0;
  }

  &-dialog {
    position: relative;
    display: block;
    margin: auto;
    width: 60vw;
    height: 100vh;
  }

  &-content {
    @include abCenter(50%, 50%);
    width: 60vw;
    height: 80vh;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: contain;
    }
  }

  @media (orientation: portrait) {
    &-content {
      width: 90vw;
    }
  }
}

#close-modal {
  position: absolute;
  top: -10px;
  right: 0;
  content: "";
  color: $color3;
  font-size: 2rem;
  cursor: pointer;

  &:hover {
    color: $color1;
  }
}